@import "../../index.scss";



.header {
  position: fixed;
  z-index: 10;
  background-color: #000;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;

  .left-wrapper {
    display: flex;
    align-items: center;
  }
}
.logo {
    width: 250px;
    display: none;
  
    @include mediaMd {
      display: block;
    }
  }
